/* normalize */
body {
  margin: 0;
  font-size: 16px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:active,
a:focus,
a:visited {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.85);
}

a:focus-visible {
  outline: none;
}

h2 {
  margin: 16px 0;
  font-size: 24px;
  font-weight: bold;
}

p {
  margin: 0;
}

/* variables */
:root {
  --background-color: #fffbf0;
  --link-text-color: rgba(0, 0, 0, 0.85);
  --link-text-hover-color: rgba(0, 0, 0, 1);
  --border-color: #ebebeb;
  --active-border-color: #131124;
}

/* general style */
.clickable {
  color: var(--link-text-color);
  cursor: pointer;
}

.clickable:hover {
  color: var(--link-text-hover-color);
}

.cursor-default {
  cursor: default;
}

/* style content */

@font-face {
  font-family: 'LXGWBright-Regular';
  src: url('/fonts/LXGWBright-Regular.woff2');
}

body {
  background-color: var(--background-color);
  font-family: LXGWBright-Regular, system-ui, -apple-system, Times New Roman,
    BlinkMacSystemFont, Segoe UI, Helvetica, Apple Color Emoji, Arial,
    sans-serif, Segoe UI Emoji, Segoe UI Symbol;
}

#container {
  width: 1080px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#header {
  padding: 40px 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

#nav {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  padding: 16px 0;
  font-size: 14px;
}

#nav-menus {
  display: flex;
  gap: 24px;
}

.nav-menu {
  cursor: pointer;
  font-weight: bold;
}

#nav-quick-access {
  display: flex;
  gap: 16px;
}

#nav-quick-access > li {
  line-height: 1;
  cursor: pointer;
}

#articles {
  padding: 32px 16px 32px 0;
}

.article {
  position: relative;
  margin-bottom: 48px;
  padding-bottom: 32px;
  border-bottom: 1px solid var(--border-color);
}

.article:last-child:not(:first-child) {
  /* margin-bottom: 0; */
  /* border-bottom-style: none; */
}

.article-title {
  margin: 0 0 16px 0;
  color: rgba(0, 0, 0, 0.95);
}

.article-created-time {
  margin-bottom: 8px;
  font-size: 14px;
}

.article-content {
  white-space: pre-line;
}

.show-more-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  padding: 8px 16px;
  background-color: var(--background-color);
  border: 2px solid var(--border-color);
  transform: translate(-50%, 33.33%);
}

.show-more-btn:hover {
  border-color: var(--active-border-color);
}

.paginator {
  display: flex;
  align-items: center;
  gap: 4px;
}

.page-number {
  display: inline-block;
  border: 1px solid var(--border-color);
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
}

.page-number:hover {
  background-color: var(--active-border-color);
  color: #fff;
}

.page-number.page-number-active {
  background-color: var(--active-border-color);
  color: #fff;
  cursor: default;
}

.page-previous {
}

.page-next {
}

#content {
  display: grid;
  grid-template-columns: 1fr 300px;
  flex-grow: 1;
}

#aside {
  border-left: 1px solid var(--border-color);
  padding: 16px;
}

.aside-section {
  margin-bottom: 40px;
}

.aside-section:last-child {
  margin-bottom: 16px;
}

.aside-section-title {
  margin: 16px 0;
  font-size: 16px;
}

#search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input {
  flex-grow: 1;
}

.search-btn {
  margin-left: 8px;
}

#categories {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
}

.aside-category {
}

#tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 14px;
}

.aside-tag {
  display: inline-block;
}

#footer {
  margin-bottom: 40px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  padding: 16px 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
}
