{% extends "base.html" %}

{% block debug %}{{ config.mode }}{% endblock debug %}

{% block articles %}
{% for i in range(end=10) %}
<article class="article">
  <h2 class="article-title">
    <a class="clickable">拒绝算法推荐，用 RSS 构建属于自己的信息流</a>
  </h2>
  <div class="article-created-time">Created On: Feb 18, 2022 08:45 PM</div>
  <div class="article-content">
    算法推荐带来了什么，带走了什么
    马克思说“人是社会关系的总和”，我们想获取更高质量的输入，就需要从不同渠道去与高水平的人建立关系，从不同渠道去获取高质量的信息。
    在当前的 Web2.0
    时代，每个人都可以在不同的地方发声，我们获取信息的渠道变得多种多样，例如公众号、博客、论坛、视频网站、问答社区等，为了降低获取信息的成本、提升信息的质量，一些技术手段也被应用在了信息获取上，比如算法推荐，它让搜索引擎更加强大，服务推送更加贴合用户。但在带来了一些好处的同时，它也带走了一些东西，比如下面的典型场景...
  </div>
  <a class="clickable show-more-btn">Read More</a>
</article>
{% endfor %}
{% endblock articles %}